.testimonials {
  margin: 8rem 6rem 0 6rem;
  background-color: var(--light-gray);
  padding: 5rem 3rem;
}

.testimonials > h1 {
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  color: var(--green);
  font-size: 700;
  max-width: 30rem;
}

.testimonials > p {
  color: var(--gray);
  text-align: center;
  max-width: 33rem;
  margin: 1rem auto 3rem auto;
  font-size: 1.2rem;
}

.content {
  margin: 0 5rem;
}

.slide {
  display: flex !important;
  gap: 5rem;
  align-items: center;
  padding: 0 7rem;
  cursor: grab;
}

.slide > img {
  width: 15rem;
}

.slideContent > p {
  font-size: 1.15rem;
  font-style: italic;
  color: var(--gray);
  margin-bottom: 1.5rem;
}

.slideContent > h1 {
  font-size: 1.7rem;
  font-weight: 500;
}

.slideContent > h4 {
  font-size: 1rem;
  color: var(--gray);
  font-weight: 600;
}

@media screen and (max-width: 780px) {
  .testimonials {
    margin: 1rem;
  }
  .content {
    margin: 0;
  }
  .slide {
    flex-direction: column;
    gap: 0rem;
    padding: 0rem;
  }
  .slide > img {
    width: 20rem;
    margin-bottom: 2rem;
  }
  .slideContent {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 462px) {
  .slide > img {
    width: 100%;
  }
}
